<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/app.css">
    <title>New User Form</title>
</head>

<body>
    <!--FORM FOR CREATING NEW USER-->
    <h2 id="newUserH2">Create a new user:</h2>
    <section class="allForms">
        <form action=" /new_user_handle" method="post">
            <label for="first_name">first name</label>
            <input type="text" name="first_name">

            <label for="last_name">last name</label>
            <input type="text" name="last_name">

            <label for="image_url">enter profile picture url</label>
            <input type="text" name="image_url">

            <button>submit</button>
        </form>

    </section>
</body>

</html>