<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user_info</title>
</head>

<body>
    <div>user id: {{userID.id}}</div>
    <div>first name: {{userID.first_name}}</div>
    <div>last name: {{userID.last_name}}</div>
    <div> {{userID.image_url}}</div>
    <img src="{{userID.image_url}}" alt="profile photo of {{userID.first_name}} {{userID.last_name}}">



    <form>

        <button formaction="/{{userID.id}}/edit" formmethod="GET">edit</button>
    </form>
    <form>
        <button formaction="/{{userID.id}}/delete" formmethod="POST">delete</button>

    </form>

</body>

</html>